<div class="jumbotron">
  <h1 class="text-center">
    Bem-vindo dados Historico Clinico
  </h1>
</div>


<head> <title> Ultimo dados Clinicos </title> 
 <!-- 	<meta charset="utf-8" /> <!-- <link href="ContatoEstilo.css" rel="stylesheet" media="all" /> <script src="JavaScript1.js"></script>-->
</head> 

<div class="table-responsive">
  <table class="table table-hover">
    <tr>
      <th>Temperatura</th>
      <th>Cont</th>
    </tr>
      <td><p ng-show="temperatura.texto">
    	{{temperatura.texto}}
	</p></td>
	<td><p ng-show="cont.texto">
    	{{cont.texto}}
	</p></td>
  </table>
  <div>
	</button>
		<a href="#/" class="btn btn-default">Voltar</a>
	</div>
</div>
