<head> <title> Ultimo dados Clinicos </title> 
 <!-- 	<meta charset="utf-8" /> <!-- <link href="ContatoEstilo.css" rel="stylesheet" media="all" /> <script src="JavaScript1.js"></script>-->
</head> 

<p ng-show="devices.length">
  Dispositivos cadastrados: {{devices.length}}
</p>
<p class="text-info" ng-hide="devices.length">
    Não há dispositivos cadastrados
</p>

<input type="search" placeholder="parte do dispositivo" ng-model="filtro">

<div class="table-responsive">
  
<style>
  table tr:nth-child(odd) {
    background-color: #ffffff;
  }
  table tr:nth-child(even) {
    background-color: #f1f1f1;
  }
</style>

  <table class="table table-hover">
    <tr>
      <th>Device</th>
      <th>Valor</th>
      <th>Unidade</th>
      <th>Data</th>
    </tr>
    <tr ng-repeat="device in devices | filter: filtro">
      <td>{{device.device}}</td>
      <td>{{device.valor}}</td>
      <td>{{device.unidade}}</td>
      <td>{{device.time}}</td>
    </tr>
  </table>
</div>

  