  <!DOCTYPE html>
  <html ng-app="app">
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <title><%= app_information.title %></title>

      <!-- jQuery-->
      <script src="/javascripts/jquery.min.js"></script>
      
      <!-- Angular-->
      <script src="/javascripts/angular.js"></script>
      <script src="/javascripts/angular-animate.js"></script>
      <script src="/javascripts/angular-resource.js"></script>
      <script src="/javascripts/angular-route.js"></script>
      <link rel='stylesheet' href='/stylesheets/angular-csp.css' />
      
      <!-- My APP -->
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <script type="text/javascript" src="/javascripts/app.js"></script>

      <!-- Bootstrap -->
      <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
      <script src="/javascripts/bootstrap.min.js"></script>

      <!-- Bootstrap -->
      <link rel='stylesheet' href='/stylesheets/font-awesome.css' />

      <!-- LoadingBAR -->
      <script src="/javascripts/loading-bar.js"></script>
      <link rel='stylesheet' href='/stylesheets/loading-bar.css' />

      <link href="/images/favicon.ico" rel="icon" type="image/x-icon" />
      
    </head>
    <body id="body">

      <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <a href="/#" class="navbar-brand"><img src="/images/logo.png" width="40" style="margin-top: -10px; float: left;">&nbsp;<%= app_information.name %></a>
          </div>
          <div id="navbar">
            <ul class="nav navbar-nav navbar-right">
              <li><span style="color: white">v 2.0.0</span></li>
              <li><a style="padding:0;" href="/#"><i class="fa fa-home fa-lg"></i></a></li>
              <li><a style="padding:0;" href="#/admin"><i class="fa fa-cogs fa-lg"></i></a></li>
              <li><a style="padding:0;" href="#/contact"><i class="fa fa-at fa-lg"></i></a></li>
              <li ng-hide="tabLogin || user"><a style="padding:0;" href="#/login"><i class="fa fa-sign-in fa-lg"></i></a></li>
              <li ng-show="user"><a style="padding:0;" href="#" ng-click="logout();"><i class="fa fa-sign-out fa-lg"></i></a></li>
            </ul> 
          </div>
        </div>
      </nav>

      <div ng-show="message.text" class="col-lg-12">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
          <div ng-class="message.type">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button" ng-click="message=null;">&times;</button>
            <i class="fa fa-info fa-lg"></i>{{message.text}}
          </div>
        </div>
        <div class="col-lg-2"></div>
      </div>
      
      <div class="container">
        <ng-view></ng-view>
      </div>

      <hr>

      <div id="footer"> <!-- FOOTER -->
        <div class="wrapper">
          <div>
            <h3>Endereços</h3>
            <div class="address col-md-6">
              <p><span>Matriz Santa Catarina: (48) 3049-9900</span><br>Rua Walter José Correia, Área 12 <br>CEP 88122-035  São José/SC - Brasil</p>
              <div class="maps ico-matriz">
                <img border="0" src="/images/icon-maps.png">
              </div>
            </div>
            <div class="address col-md-6">
              <p><span>Filial São Paulo: (11) 3541-3348</span><br>Rua Carlos Petit, 337, Vila Mariana<br>CEP 04110-001 - São Paulo / SP - Brasil</p>
              <div class="maps ico-filial">
                <img border="0" src="/images/icon-maps.png">
              </div>
            </div>
          </div>
        </div>
      </div>

    </body>
  </html>